h1{
    text-align: center;
    background-color: pink;
    color: white;
    border: 1px solid blue;
    
}
p::first-letter{
    font-size:50px;
    color: red;
}
table{
    width:100%;
    border-spacing: 0px;;
}
th{
    color:white;
    text-decoration: underline;
    background-color: green;
}
td,th{
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid grey;
}
tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: aquamarine;
}
tr:hover{
    background-color: beige;
}